.inventory-list {
    display:flex;
}

ion-card-content {
    height:250px;
}

ion-card {
    img {
        max-width: 70%;
        min-height: 120px;
        margin: auto;
        display: block;
    }
}