#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

#container p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
