<ion-app>
    <ion-split-pane contentId="main">
        <!-- SIDE MENU  -->
        <ion-menu contentId="main">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Ionic Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <!-- There should only ever be one ion-content in a single view -->
            <ion-content>
                <ion-item-divider>
                    <ion-label> NAVIGATION </ion-label>
                </ion-item-divider>
                <ion-button [routerLink]="['/home']">Forge (Home)</ion-button>
                <ion-button (click)="openShop()">Open Shop (Modal)</ion-button>
                <ion-button [routerLink]="['/shop']">Open Shop (Page)</ion-button>
              
                <!-- OPERATIONS -->
                <ion-item-divider>
                    <ion-label> OPERATIONS </ion-label>
                </ion-item-divider>
                <ion-button (click)="createWarrior()">Create Warrior</ion-button>
                <ion-button (click)="createEvent()">Create Random Event</ion-button>

                <!-- WARRIORS -->
                <ion-item-divider>
                    <ion-label> WARRIORS </ion-label>
                </ion-item-divider>
                <ion-list>
                    <ion-item>
                        <div *ngFor="let _warrior of warriors">
                            <ion-card>
                                <ion-item>
                                    <ion-icon name="person" slot="start"></ion-icon>
                                    <ion-label>{{_warrior.name}}</ion-label>
                                </ion-item>
                                <ion-card-content>
                                    <ion-button (click)="doPushUps(_warrior)"> Do Pushups</ion-button>
                                </ion-card-content>
                            </ion-card>
                        </div>
                        <div *ngIf="warriors.length <=0">
                            <p><i>None created yet, click "Create Warrior"!</i></p>
                        </div>
                    </ion-item>
                </ion-list>
               
                
                <!-- SYSTEM MESSAGES -->
                <ion-item-divider>
                    <ion-label> SYSTEM MESSAGES </ion-label>
                </ion-item-divider>
                <ion-list>
                    <!-- TODO - Hook up reverse pipe so we don't call function in template -->
                    <div *ngFor="let action of actionsHistoryRef.reverse()">
                        <ion-item> <p><i>{{action}}</i></p> </ion-item>
                    </div>
                </ion-list>
               
            </ion-content>
        </ion-menu>
        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
