<ion-app>
    <ion-split-pane contentId="main">
        <!-- SIDE MENU  -->
        <ion-menu contentId="main">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Ionic Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item><ion-button [routerLink]="['/home']">Go to Home</ion-button></ion-item>
                    <ion-item><ion-button [routerLink]="['/shop']">Go to Shop</ion-button></ion-item>
                </ion-list>
                <div *ngFor="let action of actionsHistoryRef">
                    <p>Action: {{action}}</p>
                </div>
            </ion-content>
        </ion-menu>
        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
